* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
}

.app {
    width: 70%;
    background-color: #290909;
    color: floralwhite;
    margin: 0 auto;
    align-items: center;
    height: 100vh;
}

.title {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    h1 {
        margin: 0 auto;
    }
    h2 {
        margin: 0 auto;
    }
}

.first{
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    h3 {
        margin: 0 auto;
    }
}

main {
    .sort-options {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 450 px;
        margin: 30px auto 0px;

        button {
            flex: 1 1 33%;
            appearance: none;
            background-color: #ffce00;
            border: none;
            border-radius: 5px;
            outline: none;
            font-family: 'Didact Gothic', sans-serif;
            padding: 15px 1px;
            margin: 0px 8px;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
        }

    }
    .list-headers {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 450 px;
        padding: 0px 15px;
        text-transform: uppercase;
    }

    .list {
        //display: block;
        width: 100%;
        margin: 0 auto;
        .list-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0px 15px;
            text-transform: uppercase;
            padding: 30px;
            border: 2px solid white;
            border-radius: 8px;
        }
    }

}
